{% extends "base.html" %}
{% block title %}Settings{% endblock %}

{% block content %}
<h2>Portfolio Configuration</h2>
<form method="POST">
    <div class="mb-3">
        <label>Your Name</label>
        <input type="text" name="name" class="form-control" value="{{ config.name }}" required>
    </div>
    <div class="mb-3">
        <label>Course Number</label>
        <input type="text" name="course_number" class="form-control" value="{{ config.course_number }}" required>
    </div>
    <div class="mb-3">
        <label>Course Description</label>
        <input type="text" name="course_description" class="form-control" value="{{ config.course_description }}" required>
    </div>
    <div class="mb-3">
        <label>LinkedIn URL</label>
        <input type="text" name="linkedin" class="form-control" value="{{ config.linkedin }}" required>
    </div>
    <div class="mb-3">
    <label for="theme" class="form-label">Theme</label>
    <select name="theme" id="theme" class="form-select" required>
        <option value="" disabled {% if not config.theme %}selected{% endif %}>Choose a theme...</option>
        <option value="quartz" {% if config.theme == 'quartz' %}selected{% endif %}>Quartz</option>
        <option value="vapor" {% if config.theme == 'vapor' %}selected{% endif %}>Vapor</option>
        <option value="darkly" {% if config.theme == 'darkly' %}selected{% endif %}>Darkly</option>
        <option value="minty" {% if config.theme == 'minty' %}selected{% endif %}>Minty</option>
        <option value="yeti" {% if config.theme == 'yeti' %}selected{% endif %}>Yeti</option>
        <option value="journal" {% if config.theme == 'journal' %}selected{% endif %}>Journal</option>
        <option value="lux" {% if config.theme == 'lux' %}selected{% endif %}>Brite</option>
        <option value="spacelab" {% if config.theme == 'spacelab' %}selected{% endif %}>Spacelab</option>
        <option value="morph" {% if config.theme == 'morph' %}selected{% endif %}>morph</option>
        <option value="pulse" {% if config.theme == 'spacelab' %}selected{% endif %}>Pulse</option>
        <option value="solar" {% if config.theme == 'solar' %}selected{% endif %}>Solar</option>
        <option value="simplex" {% if config.theme == 'simplex' %}selected{% endif %}>Simplex</option>
    </select>
    </div>
    <div class="mb-3">
        <label>Profile Information</label>
        <textarea name="profile_info" class="form-control" rows="4">{{ config.profile_info }}</textarea>
    </div>
    <button type="submit" class="btn btn-success mb-3">Save Configuration</button>
</form>
{% endblock %}